$total-columns: 12;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;

.row {
	@include container;
}
.intro:last-child {
	background: red;
}


.large-2 {@include span-columns(2); }
.large-3 {@include span-columns(3); }
.large-4 {@include span-columns(4); }
.large-5 {@include span-columns(5); }
.large-6 {@include span-columns(6); }
.large-7 {@include span-columns(7); }
.large-8 {@include span-columns(8); }
.large-9 {@include span-columns(9); }
.large-10 {@include span-columns(10); }
.large-11 {@include span-columns(11); }
.large-12 {@include span-columns(12); }


.last {
	margin: 0;
}