html {
    background: #fff;
    color: #000;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.active {
	// background-color: darken(($primary-color), 10%);
}

footer {
	padding: 10px 0;
	background: #333;
	margin-top: 50px;
	color: #fff;
	text-align: center;
	// width: 100%
}