@import "_variables";
@import "_normalize";

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	background: @grey-light;
}

h2 {
	margin: 0;
	padding: 20px 0 10px;
}
h3 {
	margin: 10px;
	font-size: 20px;
}

a {
	text-decoration: none;
	padding: 34px 10px;
	background: @blue-light;
	display: block;
	border-bottom: 3px solid @blue-dark;
	text-shadow: 2px 2px 1px @blue-dark;
	letter-spacing: 1px;
	font-size: 1.2em;
	color: @grey-light;

	&:hover {
		background: @active-button-background;
	}
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.wrap {
	margin:0 auto;
	width: 90%;
}

header {
	text-align: center;
	color: white;
	background: @grey-dark;
}

.intro {
	display: -ms-flexbox;
	display: -webkit-flexbox;
	display: flex;
	flex-direction: column;
}

.instructions {
	flex: 2 0 0;
}

.controls {
	flex: 1 0 0;
	span {
		display: block;
	}
	a {
		padding: 3px 9px;
		float: left;
		width: 50%;
	}
	.active {
		background: @active-button-background;
	}
}


.content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.item {
	flex-basis: 47%;
	text-align: center;
	border-left: 3px solid @grey-light;
	background: @blue-dark;
	color: @grey-light;
	margin-bottom: 10px;
	a:nth-child(odd) {
		background: @blue-medium;
	}
	a:hover, a:nth-child(odd):hover {
		background: @active-button-background;
	}

}
@media only screen and (min-width:650px) {
	.wrap {
		width: 90%
	}

	.intro {
		flex-direction: row;
	}
	.item {
		flex-basis: 33.3333%;
	}
}

@media only screen and (min-width:1024px) {
	.wrap {
		width: 70%
	}
	.instructions {
		flex: 3 0 0;
	}
	.item {
		flex-basis: 25%;
	}
}