@import "_variables";
@import "_normalize";

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	background: @grey-light;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

h2 {
	margin: 0;
	padding: 20px 0 10px;
}
h3 {
	margin: 0;
	font-size: 20px;
}

h4 {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: white;
	padding: 2px 4px;
	border-bottom: 2px solid @blue-light;
	background: @blue-dark;
}

p {
	line-height: 1.5;
}

input {
	font-size: 16px;
}

input[type=text] {
	width: 100%;
}

.button {
	text-decoration: none;
	padding: 34px 10px;
	background: @blue-light;
	display: block;
	border-bottom: 3px solid @blue-dark;
	text-shadow: 2px 2px 1px @blue-dark;
	letter-spacing: 1px;
	font-size: 1.2em;
	color: @grey-light;

	&:hover {
		background: @active-button-background;
	}
}

header {
	color: white;
	background: @blue-dark;
	border-bottom: 2px solid @blue-light;
	padding: 0 30px;
}

.intro {
	display: -ms-flexbox;
	display: -webkit-flexbox;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-bottom: 1px solid @grey;
	padding-bottom: 15px;
	margin-bottom: 20px;
}

.instructions {
	flex: 2 0 0;
}

.controls {
	flex: 1 0 0;
	span {
		display: block;
	}
	a {
		.button();
		padding: 3px 9px;
		float: left;
		width: 50%;
	}
	.active {
		background: @active-button-background;
	}
}
main {
	flex: 1;
	margin:0 auto;
	width: 90%;
}
.content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}
.item {
	flex-basis: 47%;
	text-align: center;
	color: @grey-light;
	margin-bottom: 10px;
	h3 {
		display: inline-block;
		width: 100%;
		background: @blue-dark;
		padding: 10px 0;
	}
	a:nth-child(odd) {
		background: @blue-medium;
	}
	a:hover, a:nth-child(odd):hover {
		background: @active-button-background;
	}
}

footer {
	text-align: center;
	margin: 15px;
}
@media only screen and (min-width:650px) {
	main {
		width: 90%
	}

	.intro {
		flex-direction: row;
	}
	.instructions {
		max-width: 50%;
	}
	.controls {
		max-width: 30%;
	}
	.item {
		flex-basis: 32%;
	}
}
@media only screen and (min-width:850px) {
	.instructions {
		max-width: 70%;
	}
	.controls {
		max-width: 20%;
	}
}

@media only screen and (min-width:1024px) {
	main {
		width: 70%
	}

	.instructions {
		flex: 3 0 0;
		max-width: 50%;
	}

	.controls {
		max-width: 15%;
	}
	.item {
		flex-basis: 24%;
	}
}