<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ng-app="cdnApp"> <!--<![endif]-->

<head>
	<meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>CDNatives</title>

	<link rel="stylesheet" href="css/styles.css">
</head>
<body ng-controller="cdnController">

	<header>
		<h2>CDNatives</h2>
		<hr />
	</header>

	<div class="wrap intro">
		<div class="instructions">
			<h4>Getting Started</h4>
			<p>intro par.</p>
		</div>
		<div class="controls">
			<h4>Options</h4>
			<div data-option="tags">
				<span>Script Tags:</span>
				<a href="" class="button-small active">On</a>
				<a href="" class="button-small">Off</a>
			</div>
			<div data-option="production">
				<span>Production:</span>
				<a href="" class="button-small active">On</a>
				<a href="" class="button-small">Off</a>
			</div>
			<div data-option="copy">
				<span>Behavior:</span>
				<a href="" class="button-small active">Copy</a>
				<a href="" class="button-small">View</a>
			</div>
		</div>
		<input type="search" ng-model="libsSearch">
	</div>
	<div class="wrap content">
		<div class="item" ng-repeat="lib in libs | filter: libsSearch">
			<h3>{{lib.name}} - {{lib.ver}}</h3>
			<div class="cdns">
				<a href="#" class="button" ng-repeat="cdn in lib.cdns">
					{{cdn.name}}
				</a>
			</div>
		</div>
	</div>
<!-- 	<footer>
			this will be the footer
	</footer> -->
	<script src="/bower_components/angular/angular.min.js"></script>

	<script src="/js/script.js"></script>
</body>
</html>
